@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}


/* Print styles remain outside layers */
@media print {
  html,
  body {
    height: initial !important;
    overflow: initial !important;
    -webkit-print-color-adjust: exact;
  }
}

/* Styles for range inputs go inside @layer components */
@layer components {
  input[type='range'] {
    @apply appearance-none w-full;
  }

  input[type='range']::-webkit-slider-runnable-track {
    @apply h-1.5 bg-gray-300 rounded-xl;
  }

  input[type='range']::-webkit-slider-thumb {
    @apply appearance-none h-4 w-4 rounded-full bg-teal-600 -mt-1.5;
  }

  input[type='range']:focus {
    @apply outline-none;
  }

  input[type='range']:focus::-webkit-slider-runnable-track {
    /* Optional: Add focus style */
  }
}
